*{
    margin: 0;
    padding: 0;
}
header{
    background-color:rgb(250, 250, 252); ;
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 252);
    margin-bottom: 30px;
}

.nav-images{
    width: 15px;
    height: auto;
}

.products{
    margin-top: 12px;
        font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        width: 70%;
}

.products span{
    color: rgba(0, 0, 0, 0.8);
}

.apple-item{
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.apple-item img{
    width: 40px;
    height: auto;
}

.iphones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto; 
    background-color: rgb(250, 250, 252);
    padding-bottom: 30px;
}

.apple-item img.single {
    width: 60px;
    height: auto;
}

.airtag{
    position: relative;
    bottom: 8px;
}

.airpod{
    position: relative;
    bottom: 5px;

}

.ios18{
    position: relative;
    bottom: 4px;
}

.compare img{
    width: 50px;
}

.statement{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    background-color: rgb(245,245,247);
    padding: 15px 0;
}

.statement span{
    color: rgb(0,101,204);
    
}

.pre-video{
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    align-items: center;
    font-weight: 600;
}


main{
    width: 80%;
display: flex;
flex-direction: column;

margin: 0 auto;
}
.left{
    font-size: 70px;
    margin-top: 80px;
}

.right{
    font-size: 28px;
    margin-top: 120px;
}


.iphone-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.iphone-video video {

    max-width: 1200px; /* Optional max width */
    border-radius: 40px; /* Smooth rounded edges */
}

.post-video{
    margin: 0 auto;
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;

}

.cards{
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
}
.cards img {
    height: 700px; /* Adjust this value as needed */
    width: 370px; /* Maintains the aspect ratio */
    border-radius: 20px;
}
.explore{
    margin: 0 auto;
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;

}

.lineup{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 40px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img{
    height: 300px;
}

.product span{
    margin-top: 25px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
}

.product p{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 18px;
    font-size: 15px;

}
.product h2{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 18px;
    font-size: 20px;
    font-weight: 500;

}




